

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    
    background-color:  #c9184a;
    height: 60vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
   margin: 0 20px;
}
#container h1{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2 rem;
margin-bottom: 20px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    border: 5px;
     transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(37, 2, 2);
}
#scan-container{
    display: grid;
  justify-content: center;
  margin-top: 50px;
}
#scan-container h1{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
#forms{
    display: flex;
    gap: 10px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
#forms input{

    flex: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
}
button{
    width: 30%;
    height: 100%;
    padding: 10px 20px;
    min-width: 100px;
    border-radius: 5px;
   background-color:#800f2f;
   color: white;
   font-weight: bold;
   transition:0.3s;

}
button:hover{
    background-color: #ffb3c1;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0.2);

}
main {
  background-color: #ff758f;
  color: black;
  padding: 65px 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#results {
  border: 1px solid #ffb3c1;
  border-radius: 10px;
  padding: 20px;
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  background-color: #ffccd5;
}

footer{
   
    background-color: #ff4d6d;
    color: #070707;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
@media  screen and (max-width:600px) {
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    #forms{
        flex-direction: column;
    }
    button{
        width: 100%;
    }
    
}